<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>Inscription</h1>
<form action="#" th:action="@{/users/submitForm}" method="post" th:object="${user}">
    <div>
        <ul>
            <div th:each="field : ${fields}">
                <li th:unless="${field == 'emailValid'}">
                    <label th:text="${field}"></label>
                    <input type="text" th:field="*{__${field}__}"/><br/>
                </li>
            </div>
        </ul>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>

</body>
</html>